<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bss\HelloWorld\Api\GetItemByIdInterface" type="Bss\HelloWorld\Model\Api\GetItemById"/>
    <preference for="Bss\HelloWorld\Api\GetProductIdBySkuInterface" type="Bss\HelloWorld\Model\Api\GetProductIdBySku"/>
</config>