/* Css for logo */

.custom-logo-container {
    text-align: center;
}

.custom-logo {
    width: 200px;
    height: auto;
    margin-top: 20px;

}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
